.vscode/*

**/.terraform/
**/*.tfstate
**/*.tfstate.*
**/.terraform.tfstate.lock.info
**/secrets.auto.tfvars
crash.log
crash.*.log

.ansible/*

ansible/sudo_password_file

.venv/*

secrets/*

uv.lock
